.card {
    width: 80%;
    height: 600px;
    background-image: url('./images/slider-bg2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: auto;
}