.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px
}
@media screen and (max-width:900px){
    .content {
        flex-direction: column
    }
}
.img {
    width: 400px
}
@media screen and (max-width:900px){
    .img {
        width: 300px

    }
}
.form {
    display: flex;
    flex-direction: column;
    gap: 20px
}
input {
    width: 400px;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 15px;
    background-color: transparent;
    outline: none;
    color: #000000;
    border: 1px solid #a5a5a5
}

.button {
    width: 200px;
    height: 50px;
    background: #46200b;
    border: 1px solid #46200b;
    margin-bottom: 10px
}
.btn {
    transform: translateY(-4px);
    transition: transform 500ms;
    color: white;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.button:hover .btn {
    transform: translateY(-6px);
    transition: transform 250ms;
}
.button:active .btn {
    transform: translateY(-2px);
    transition: transform 50ms;
  }