
.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 50px;
}
.images {
    width:30%;
}
.img {
    width: 400px;
}
.title {
    width:30%;
}
.titles {
    font-size: 80px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #46200b;
}
.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 1.625;
    font-weight: normal;
    color: #46200b;


}