
.img {
    width: 500px;

}
.products {
    display: flex;
    flex-direction: column;justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 20px
}
.images {
    width:200px;


}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:35px;
    color: #46200b;
    padding: 20px;

}
.pro {
    width: 80%;
    margin: auto;
    border: 1px solid  #46200b;
    display: flex;
    flex-direction: column;justify-content: center;
    align-items: center;
    height: 400px;



}


.pro:hover {
    box-shadow: 5px 5px 5px 5px gainsboro;
    border: none
}
.button {
    background:  #46200b;
    border: none;
    padding: 20px 30px;
    margin: 30px;
    border-radius: 5px
}

.btn {
    color:white;
    font-size: 15px;
 
    
}


